.container {
  min-width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFEFBA;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #FFEFBA);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Chat */

.fa-arrow-left {
  margin-right: 30px;
}

.user-bar {
  min-height: 91.5vh;
}

.item {
  color: #fff;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all .5s ease;
}

.item:hover {
  background: #383838;
}

.icon {
  width: 10px;
  height: 10px;
  background: green;
  border-radius: 50%;
}

/* Messages */

.chat {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  border: 2px solid #ddd;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}

.messages {
  padding: 10px 20px;
  width: 100%;
  height: 84vh;
  overflow: auto;
}

.messages::-webkit-scrollbar {
  width: 6px;
}

.messages::-webkit-scrollbar-track {
  background: #ddd;
}

.messages::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}

.message {
  display: flex;
  align-items: flex-end;
  padding: 0 10px;
  width: 500px;
  border-radius: 10px;
  box-shadow: 10px 3px 5px rgba(0, 0, 0, .5);
  margin: 10px 0;
  background: #8ecae6;
  color: #000;
}

.msg-bubble {
  padding: 15px;
  border-radius: 15px;
}

.msg-info {
  width: 465px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.message p {
  margin: 0;
}

.user {
  font-weight: bold;
  margin-right: 10px;
}

.time {
  font-size: 0.85em;
  font-weight: bold;
}

.me {
  float: right;
  background: #fb8500;
  color: #fff;
}